@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600');


.ingredientInput {
    font-family: 'Montserrat Alternates', sans-serif
}

.addINGbutton.btn.btn-default {

    width: 250px;
    height: 60px;
    color: white;
    border: none;
    margin-left: 37%;
    font-size: 2em;
    font-family: 'Montserrat Alternates', sans-serif;
    background: rgb(148, 0, 233);
}