.input-range {
    background-color: white;

    padding-bottom:50px;
}

span.input-range__label-container {
    color:red;
    font-size: 14px;
}

.input-range__track--active {
    background: rgb(147, 62, 196);
}


.input-range__slider {
    background: rgb(147, 62, 196)
}