@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,600');

.input-range {
    background-color: white;

    padding-bottom: 20px;
    margin: 20px 0;
}

span.input-range__label-container {
    color: #000000;
    font-size: 14px;
    margin: 0;
}

.input-range__track--active {
    background: rgb(147, 62, 196);
}


.input-range__slider {
    background: rgb(147, 62, 196)
}

h5 {
    color: white;
}

#formControlsSelect {
    /*border-color: rgb(208,255,0);*/
    border: rgb(208,255,0) solid;
    background-color: rgb(255,255,255);
    height: 30%;
    font-family: 'Montserrat Alternates', sans-serif;
}



.acceptButton {
    background-color: rgb(148, 0, 233);
    width: 250px;
    height: 60px;
    color: white;
    border: none;
    margin-left: 22%;
    font-size: 2em;
    font-family: 'Montserrat Alternates', sans-serif;

}

.addHeader {
    margin-left: 42%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.addingToPlanBttn {
    background: rgb(148, 0, 233);
    color: white;
    border: none;
    font-size: .9em;
    font-family: 'Montserrat Alternates', sans-serif;
}

.breakfastBttn {
    background: rgb(148, 0, 233);
    color: white;
    border: none;
    font-size: 1em;
    font-family: 'Montserrat Alternates', sans-serif;
}

.searchBttn {
    font-family: 'Montserrat Alternates', sans-serif;

}