#root {
   background-image: url(warzywaowoce.jpg);

}

#root a:hover {
    color: #000000;
    background-color: transparent;
    padding-left: 3%;

}

#root a {
    color: #933ec4;
    padding-left: 3%;
}

tr {
    color: black;


}

.navbar-default {
    border: none;
}

table {
    background-color: white ;
    color: black;
}

table th {
    background-color: black ;
    color: white;
}



