@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

.avatar-bg {
    border-width: 30px;
    border-color: rgb(166, 166, 166);
    border-style: solid;
    width: 5%;
    height: 5%;
}

 .avatar img  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
     margin-left: 100%;
}

.float {
float: left;

}

.button-purple {
    background: rgb(148, 0, 233);
    position: relative;
    width: 463px;
    height: 101px;
    color: #FFF;
    font-size: 1.6em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   padding-top: 6%;
}

.button-purple:hover {
    text-decoration: underline;

}

.button-purple a {
    text-decoration: none;
    color: #fff !important;

}


@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

a .user-buttons {
    padding: 3% !important;
    position: relative;
    display: inline;

}
 .user-profile-heading {
    text-align: center;
}

 .User-Name p {
     font-size: 1.5em;
     color: #525252;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0% 2% 0% 2%;

 }

.User-Name input {

    border-width: 1px;
    border-color: rgb(148, 0, 233);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 120px 15px 120px;
    max-width: 100%;
    display: inline;

}

.User-Name h5 {
    font-size: 1em;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.user-profile a {
    display: flex;
    align-items: center;
    justify-content: center;

}

.user-profile a:hover {
    color: #000 !important;
}

.save-changes {
    color: #aec200 !important;
    /*display: flex;*/
    /*align-items: right;*/
    text-align: right;
    font-size: 1em;
    /*background-color: #a5c226;*/
}


